<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Dietas</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" href="Imagem1.png">
</head>
<body>
  <header>
    <img src="Imagem1.png" alt="Logo" class="logo">
    <nav>
      <a href="objetivos.html">Objetivo</a>
      <a href="treinos.html">Treinos</a>
      <a href="dietas.html" class="active">Dietas</a>
      <a href="personalizar.html">Personalizar</a>
      <a href="historico.html">Histórico</a>
    </nav>
  </header>
  {{{body}}}
</body>
</html>