<main class="container">
    <section class="box black">
    <h2>Treinos Gerais:</h2>

    <div style="text-align:center; margin-bottom: 20px;">
      <input type="text" id="searchInput" placeholder="🔍 Pesquise um exercício...">
    </div>

    <div id="videosGrid">

      <div class="card">
        <h3>Supino reto com barra</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/pCPyqW60Wuk?si=QWi78rsX_wpURfrI" title="Supino reto com barra" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Supino inclinado com halteres</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/rCPwrZkrVVQ?si=-YBMxQXbLZwYfZhO" title="Supino inclinado com halteres" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Crossover na polia</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/pdMWt71MPlw?si=rIlOuoYHBVKMeYRy" title="Crossover na polia" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Crucifixo</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/cZ75YmWYTgQ?si=TSl4y212Go2tXlKL" title="Crucifixo" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Agachamento com halteres</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/x5vB3-LoPHc?si=LP-ALV_IugFDLJSg" title="Agachamento com halteres" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Remada unilateral</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/VmGs8dwQ9Zg?si=WYNZgCCMAYNxP21C" title="Remada unilateral" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Elevação lateral</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/ORparUDksUk?si=XtuWPuS3Rh9DD54_" title="Elevação lateral" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Prancha</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/IAU4r9rG28o?si=vm5mGKgl4b4wqqoS" title="Prancha" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Flexão</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/74G6kn0vjPQ?si=kWytiOFrHCR5oCND" title="Flexão" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Tríceps testa com barra W</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/cAzPXrCBxWY?si=opPXIKZKge7aP0SE" title="Tríceps testa com barra W" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Leg press</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/waAxlYvtCcI?si=GSXKsBDjqT9VuhnD" title="Leg press" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Cadeira extensora</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/pJZXbaF-MCM?si=-g6vAev9rhGAqnyW" title="Cadeira extensora" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Cadeira abdutora</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/50qHGus1TZk?si=4gDvWBlQx5MKamgV" title="Cadeira abdutora" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Stiff com halteres</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/IWvqmrT2lTA?si=u-xUPML_BXpiHBpL" title="Stiff com halteres" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Corrida</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/gxqFhZFzTA0?si=ik3DHx5_cvic3UV-" title="Corrida" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Panturrilha em pé</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/PNLdWhbgxkU?si=eDLKocR38nydvYRM" title="Panturrilha em pé" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Puxada frente</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/BOW9my4J_ek?si=lnvyJctJsuX7hLLP" title="Puxada frente" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Remada baixa</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/dUy0chKG-yo?si=fmo8vFRc7MT8gYhT" title="Remada baixa" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Supino reto</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/YiP-Zhk5YMk?si=nkb8Xt0HKS5fvZXo" title="Supino reto" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Desenvolvimento com halteres</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/Z1KPdjNng8c?si=me5B4qfycdyKKJEk" title="Desenvolvimento com halteres" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Abdominal supra</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/PaW-N43kjSQ?si=vQtyMfMyerafve4Y" title="Abdominal supra" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Abdominal infra</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/9EYiA8gbnRA?si=433n4KBhAV6wW_HJ" title="Abdominal infra" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Agachamento</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/s7i94Okznns?si=obs8exdC7qtcPq3r" title="Agachamento" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Burpee</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/818SkLAPyKY?si=Vd9iVUi6cWptoJOz" title="Burpee" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Abdominal prancha</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/qNRqGqESAWU?si=XEMz7_ujgO7lVhGM" title="Abdominal prancha" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Tríceps corda</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/7le1JRUUagM?si=hv5TuYQtreG90VQ3" title="Tríceps corda" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Mergulho no banco</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/LdfpvZPnUSI?si=4ZR0M9gWlH5fuuCr" title="Mergulho no banco" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Puxada frente pegada aberta</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/IFDUGxHRIKA?si=SnohWc9nbouB-9pd" title="Puxada frente pegada aberta" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Remada curvada</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/UVF8AcGwQlI?si=D2VTy-Cm6dO_HKC7" title="Remada curvada" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Remada máquina</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/Prevu525iYQ?si=CSwSqpDJILoyF3GZ" title="Remada máquina" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Serrote</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/uAnrJBnxrZ0?si=s84JYHVqWmRcBbKl" title="Serrote" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Rosca direta com barra</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/zqklqTcOsbo?si=ThWWAKCoD4PzTyC2" title="Rosca direta com barra" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Rosca alternada com halteres</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/EN74FtJcuTM?si=bnUeJ044uhIlEz_T" title="Rosca alternada com halteres" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Mesa flexora</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/8Nat6GRiEoc?si=9EDTUUnixQYCM9dZ" title="Mesa flexora" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Panturrilha sentado</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/1NBoneuGtQo?si=E6oQYflFaON509vN" title="Panturrilha sentado" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Elevação frontal</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/V1BZ1_0oxe4?si=1FOmpbo4wg7bU-Yr" title="Elevação frontal" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Encolhimento de ombros</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/jlIWyq0DvIc?si=3_jyceen1tzAqC18" title="Encolhimento de ombros" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Prancha isométrica</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/3qTz7853Yiw?si=xMqRnSJBaz1CS3hT" title="Prancha isométrica" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="card">
        <h3>Abdômen prancha + supra</h3>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/GFS8cnIxwwQ?si=VKqGz7jdJJ6wPABk" title="Abdômen prancha + supra" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </section>
</main>
<script>
  const searchInput = document.getElementById('searchInput');
  const cards = document.querySelectorAll('.card');

  searchInput.addEventListener('input', () => {
    const query = searchInput.value.toLowerCase();
    cards.forEach(card => {
      const title = card.querySelector('h3').textContent.toLowerCase();
      card.style.display = title.includes(query) ? 'block' : 'none';
    });
  });
</script>